<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-6">
                <h2>Prajwol is a Freelancer.<sup>&reg;</sup></h2>
                <p>Contact me and I'll get back to you within 24 hours.</p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:prajwol.shrestha18@gmail.com">prajwol.shrestha18@gmail.com</a></p>
                <p><span title="My website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="http://www.liveworks.com">www.liveworks.com</a></p>
                <br />
            </div>
            <div class="col-sm-6">
                <!-- Column 2 -->
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Quality, Affordable and Easy-to-use software for all</h4>
            </div>
        </div>
    </div>
</div>
